<!--  Footer  -->

<div id="footer">
	<div class="footer-holder">
    	<div class="footer-frame">
         	<div class="footer-container">
             	<div id="nav_menu-2" class="footer-box">
              	<h2>QuickLinks</h2><div class="list-box">
                	<ul class="menu" id="menu-quicklinks">
                        <li><a href="http://www.wavespot.net/social-wifi-for-entertainment-venues/">Entertainment Venues</a></li>
                        <li><a href="http://www.wavespot.net/social-wifi-for-hotels-and-bed-n-breakfast/">Hotel Operators</a></li>
                        <li><a href="http://www.wavespot.net/social-wifi-for-cafes-and-restaurants/">Restaurant Owners</a></li>
                        <li><a href="http://www.wavespot.net/hosting-an-event-let-social-wifi-help-spread-the-word-2/">Event Organizers</a></li>
                        <li><a href="http://www.wavespot.net/carwash-and-auto-service-centers/">Auto Service Centers</a></li>
                        <li><a href="http://www.wavespot.net/own-a-salon-see-how-wavespot-social-wifi-can-bring-more-customers/">Salon Owners</a></li>
					</ul>
				</div>
        	</div>

			<div id="nav_menu-5" class="footer-box widget_nav_menu ">
            <h2>Got a Wavespot?</h2>
                <div class="list-box">
                    <ul class="menu" id="menu-got-a-wavespot">
                        <li><a href="http://support.wavespot.net">Helpdesk</a></li>
                        <li><a href="http://support.wavespot.net/solution/categories/32552/folders/52399">Quick Start Guide</a></li>
                        <li><a href="http://www.wavespot.net/lost-activation-code/">Lost activation code?</a></li>
                    </ul>
                </div>
			</div>
		<div id="nav_menu-4" class="footer-box widget_nav_menu ">
        <h2>Company</h2>
            <div class="list-box">
                <ul class="menu" id="menu-company">
                <li><a href="http://www.wavespot.net/team/">Team</a></li>
                <li><a href="http://www.wavespot.net/press-release/">Press Release</a></li>
                <li><a href="http://www.wavespot.net/careers-at-wavespot/">Careers</a></li>
                <li><a href="http://www.wavespot.net/affiliate-program/">Affiliates</a></li>
                </ul>
            </div>
        </div>
		<div id="text-2" class="footer-box widget_text social-box">
        <h2>Connect With Us</h2>			 
        	<ul>
                <li><a href="mailto:info@wavespot.net" class="email">Email</a></li>
                <li><a href="http://www.facebook.com/Wavespot" class="facebook">Facebook</a></li>
                <li><a href="http://twitter.com/wavespotwifi" class="twitter">Twitter</a></li>
                <li><a href="http://www.linkedin.com/company/wavespot" class="linked">LinkedIn</a></li>
 			</ul>
 		</div>                            
	</div>	
</div>
    	<div class="footer-copyright">
			<div class="copyright-holder">
           		<div class="copyright-frame">
             		<ul>
                        <li><a>Phone: 925.226.0440</a></li>
                        <li><a href="http://www.wavespot.net/terms-of-service/">Terms &amp; Conditions</a></li>
                        <li><a href="http://www.wavespot.net/privacy-policy/">Privacy Policy</a></li>
                    </ul>                                
					<div id="text-3" class="footer-box widget_text "><p>Copyright Wavespot 2012. All Rights Reserved.</p></div>                            
    			</div>
 			</div>
		</div>
   	</div>
</div>
            
  
<!--  Footer End  -->          

